*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --main-bg-color:#F7FFFF;
    --primary-black:#1E1E1E;
    --primary-mint:#00C2CB;
    --grey-transparent:rgba(201, 201, 201, 0.7);
    --primary-mint-tints: #F7FFFF;
}
body{
    background:var(--main-bg-color);
}
header{
    padding:25px 0;
}
.nav-link{
    font-weight: 500;
    color:var(--primary-black)!important;
    margin:0 25px;
}
.nav-btn{
    border:1px solid #000;
    padding:10px 20px;
}
#artboard{
    margin-top: 100px;
}
#artboard h1{
    font-weight: 600;
    font-size: 46px;
    line-height: 56px;
}
#artboard img{
    width:100%;
}
@keyframes art{
    0% {
       position: relative;
       top:0;
      }
     
      50% {
        position: relative;
        top:-20px;
      }
       
      100% {
        position: relative;
       top:0;
      }
}
.art{
    
    animation: art 3.5s infinite;
}
.btn-mint{
    background:var(--primary-mint);
    color:white;
    font-weight: 600;
    margin-top: 23px;
    padding: 12px 20px;
    border-radius:5px;
}
.navDropdown .dropdown-menu{
    background: #192A42;
    color: #9FBBDA;
    min-width:450px;
    width:100%;
    padding:40px;
    margin-left: -160px;
}
.navDropdown .dropdown-menu a{
    font-weight: 500;
    color:white;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
}
.iconPPC:before{
    content:url(./image/iconPPC.svg);
    width:32px;
    height:27px;
   left: -25px;
    position:absolute;
    top:10px;
   
}
.iconSEO:before{
    content:url(./image/seo.svg);
    width:32px;
    height:27px;
   left: -25px;
    position:absolute;
    top:10px;
   
}
.iconMail:before{
    content:url(./image/iconTelegramm.svg);
    width:32px;
    height:27px;
   left: -25px;
    position:absolute;
    top:10px;
   
}
.navDropdown .dropdown-item:focus, .dropdown-item:hover{
    background-color: transparent;
}
.navDropdown  .dropdown-item{
    margin:20px 0;
    position: relative;
}
.titleMenu{
    font-weight: 500;
    color:#9FBBDA;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px; 
}
.navDropdown .description-dropdown{
    display:block;
    color:#9FBBDA;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px; 
    text-transform: none;
    white-space:normal;
    font-style: normal;
}
.navDropdown .dropdown-toggle::after{
    display: none!important;
}
.navDropdown .dropdown-menu:before{
    content: ''; 
    position: absolute; 
    left: 50%; top: -20px; 
    border: 10px solid transparent;  
    border-bottom: 10px solid #192A42; 
    margin-left: -10px;
}

/* section counter */
.counter-container{
    background: #fff;
    padding:30px;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin: 70px auto;
    text-align: center;
}
.count-number{
    width:94px;
    height:94px;
    background: #D6FDFF;
    color:var(--primary-mint);
    border-radius:50%;
    margin:auto;
    text-align: center;
}
.count-number span{
    font-weight: 600;
    font-size: 25px;
    line-height:30px;
}
.count-description{
    font-weight: 400;
    font-size: 16px;
    line-height:22px;
    text-align: center;
    margin-top: 35px;
    color:var(--primary-black);
}
.counter-container .row>div{
    max-width:200px;
}
.counter-container .row{
    justify-content: space-around;
}
/* section work */

#work{
    background: #D6FDFF;
    padding:70px 0;
}
.work-container{
    background: #fff;
    padding:65px;
}
.home-tab .active a{
    color:var(--primary-mint);
    font-size:16px;
    line-height: 22px;
    font-weight: 600;
    padding:10px;
    border-bottom:2px solid #00C2CB;
}
.home-tab a.active {
    color:var(--primary-mint);
    font-size:16px;
    line-height: 22px;
    font-weight: 600;
    padding:10px;
    border-bottom:2px solid #00C2CB;
}
.home-tab a{
    font-size:16px;
    line-height: 22px;
    font-weight: 600;
    color:#D7D7D7;
    padding:10px;
    border-bottom:2px solid #D7D7D7;
    text-transform: uppercase;
}
.home-tab{
    border-bottom: 1px solid transparent;
}
.home-tab-h h3{
    font-size:28px;
    line-height: 38px;
    font-weight: 500;
}
.tab-content ul{
    padding-left: 20px;
}
.tab-content li{
    font-weight: 400;
    font-size:18px;
    line-height: 22px;
    color:var(--primary-black);
    padding:10px;
}
.tab-content{
    padding-top: 30px;
}
.btn-tab{
    padding:10px 20px;
    border:1px solid #000;
    box-sizing: border-box;
    border-radius: 4px;
}
.work-container h2{
    font-weight: 600;
    line-height:48px;
    font-size:38px;
}
.work-container p{
    font-weight: 400;
    line-height: 26px;
    font-size: 20px;
    margin-top: 30px;
    color:var(--primary-black);
}
.tab-content li{
    color:var(--primary-mint);
}
.tab-content li span{
    color:var(--primary-black);
}
#client{
    background: var(--primary-mint-tints);
    padding:70px 0;
}
#client h2{
    font-weight: 600;
    line-height:48px;
    font-size:38px;
    text-align: center;
}
.client-child .child{
    background: #FFFFFF;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding:15px;
    box-sizing: border-box;
    height:165px;
    width:195px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.client-child{
    padding:15px;
    text-align: center;
}
#blog{
   background: #E6FEFF;
    padding:70px 0;
}
#blog h2{
    font-weight: 600;
    line-height:48px;
    font-size:38px;
    text-align: center;
}
.col-blog{
    padding: 30px;
}
.col-child{
    background: #FFFFFF;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.05);
    padding:30px;
}
#blog h3{
    font-weight: 500;
    font-size:28px;
    line-height: 38px;
}
.single-title-company{
    padding: 10px 0 ;
    border-bottom:1px solid #3A9EFC;
}
.single-title-marketing{
    padding: 10px 0 ;
    border-bottom:1px solid #FCA000;
}
.col-blog .single-title .single-name{
    padding:5px;
    text-transform: uppercase;
    font-weight: 600;
    font-size:12px;
    line-height: 38px;
    box-sizing: border-box;
    border-radius: 3px;
}
.col-blog .single-title .company{
    color:#3A9EFC;
    border:1px solid #3A9EFC;
}
.col-blog .single-title .marketing{
    color:#FCA000;
    border:1px solid #FCA000;

}
.col-blog .single-title .single-date{
    font-weight: 500;
    font-size: 15px;
    line-height: 38px;
    color: #9EACB8;
    margin-left: 10px;
}
.blog-description p{
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #575D63;
    margin-top:15px;
}
.blog-description a{
    color: #00C2CB;
    font-weight: 500;
    font-size: 15px;
    line-height: 38px;
}
.btn-blog{
    text-align: center;
}
#home-form{
    background: var(--primary-mint-tints);
    padding:60px 0;
}
/*#home-form input{*/
/*    width:25%;*/
/*    border-bottom:2px solid #9E9E9E;*/
/*    border-left:1px solid transparent;*/
/*    border-right:1px solid transparent;*/
/*    border-top:1px solid transparent;*/
/*    font-weight: 500;*/
/*    font-size: 17px;*/
/*    line-height: 25px;*/
/*    color: #9E9E9E;*/
/*}*/
/*.btn-form{*/
/*    background: #00C2CB;*/
/*    border-radius: 5px;*/
/*    padding:15px 50px;*/
/*    color: #F2F2F2!important;*/
/*    font-weight: 600;*/
/*    font-size: 17px;*/
/*    line-height: 28px;*/
/*    text-align: center;*/
/*    border-bottom:1px solid transparent!important;*/
/*}*/

.form-row {
    position: relative;
}
.form-row input {
    display: block;
    width: 100%;
    margin:10px;
    padding: 0 10px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    background: none;
    border-width: 0;
    border-bottom: 2px solid #4a90e2;
    transition: all 0.2s ease;

}
.form-row label {

    left: 13px;
    color: #9d959d;
    font-size: 20px;
    font-weight: 300;
    transform: translateY(-35px);
    transition: all 0.2s ease;
}
.form-row input:focus {
    outline: 0;
    border-color: #F77A52;
}
.form-row input:focus + label,
.form-row input:valid + label {
    transform: translateY(-60px);
    margin-left: -14px;
    font-size: 14px;
    font-weight: 400;
    outline: 0;
    border-color: #F77A52;
    color: #F77A52;
}
.ui-form input[type="submit"] {
    width: 100%;
    padding: 0;
    line-height: 42px;
    background: #4a90e2;
    border-width: 0;
    color: white;
    font-size: 20px;
}
.ui-form p {
    margin: 0;
    padding-top: 10px;
}
#footer{
    background: #192A42;
    padding: 50px 0;
}
.logo-footer p{
    color: #F2F2F2;
    font-weight: 400;
    font-size:16px;
    line-height: 28px;
    margin-top: 10px;
}
.social a{
    margin:5px;
}
.blog-footer p{
    color: #F2F2F2;
    font-weight: 600;
    font-size:16px;
    line-height: 28px;
    text-transform: uppercase;
}
.news-footer{
    margin:10px 0;
}
.news-footer-one{
    border-left:1px solid #FCA000;
    padding:10px;

}
.news-footer-second{
    border-left:1px solid #1DC463;
    padding:10px;

}
.news-footer p{
    font-weight: 500;
    font-size: 19px;
    line-height: 33px;
    color: #FFFFFF;
    text-transform: none;
}
.btn-footer-one{
    color: #FCA000;
    border:1px solid #FCA000;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    padding:5px 10px;
    border-radius:3px;
    box-sizing:border-box;
    text-transform: uppercase;
}
.btn-footer-second{
    color: #1DC463;
    border:1px solid #1DC463;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    padding:5px 10px;
    border-radius:3px;
    box-sizing:border-box;
    text-transform: uppercase;
}
.news-footer span{
    font-weight: 500;
    font-size: 15px;
    line-height: 38px;
    color:#9EACB8;
}
.keys-footer p{
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #F2F2F2;
    text-transform: uppercase;
}

.last-keys a{
    display:block;
    color:var(--primary-mint);
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    margin-top: 24px;
}
.last-keys a:after{
    content : '  >';
    color: var(--primary-mint);
}
.footer-menu a{
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    color:var(--primary-mint);
    margin:22px;
}
.footer-menu ul{
   list-style-type: none;
    display:flex;
    justify-content: center;
}
hr{
    color:rgba(255, 255, 255, 0.3);
}
.copywrite p{
    font-weight: 500;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    color: #F2F2F2;
}


@media (max-width:475px){
    .child{
        margin:auto;
    }
    .art{display:none;}
    #footer .col{
        flex-basis: auto;
    }
    .footer-menu ul{
        flex-direction: column;
    }
}
